.blog,
.news {
    background-image: url(/sprite.png);
}

.blog {
    background-position: 0px 0px
}

.blog {
    background-position: 0px 0px
}

li.one a {
    background-image: url('/images/sprite.png');
}

li.two a {
    background-image: url('/images/sprite.png');
}

li.three a {
    background-image: url('/images/sprite.png');
}